@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Google Font */


.work_sans_font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
}

/* shared Style */
body section {
    margin: 100px 0 ;
}
img {
    max-width: 100%;
}
.dark_text_color {
    color: #424242;
}
.btn_primary {
    background: #FF900E;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 15px 30px;
    transition: .8s;

}
.btn_primary:hover {
    background: #424242;
}
/* Header area  */
.header {
    background: rgba(255, 144, 14, 0.1);
    font-weight: 800;
    padding: 0 0 40px 0;
}
.brand h2 {
    font-size: 2.5rem;
}
.header .header_wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.nav {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav .nav_links {
    display: flex;
    
}

.nav_links li {
    list-style: none;
    padding: 0 0 0 50px;
}
.nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}
.dot {
    display: none;
}

/* Hero section */

.hero img{
    max-width: 100%;

}
.hero_content {
    max-width: 37.5rem;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 50px 0;
}
.hero_content h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    padding-bottom: 1rem;
}
.hero_content p {
    font-weight: 400;
    padding-bottom: 1rem;
}

/* Main area design  */
.main_area {
    max-width: 1000px;
    margin: 0 auto;
}

/* Team Area */

.team_wrapper {
    display: grid;
    grid-template-columns: repeat(2 , .5fr);
    gap: 4.5rem;
    align-items: center;

}

.team_picture {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
}

.team_content h2 ,p {
    padding: 0 0 15px 0 ;
}
.team_content h2 {
    font-size: 3rem;
}
.team_content #quick_list {
    font-weight: 400;
    color: #424242;
}
.team_content #f_orange {
    color: #FF900E;
} 

/* Feature Area */

.feature {
    
    display: grid;
    grid-template-columns: repeat(2 ,.5fr);
    gap: 50px;
}

.feature_content > h2 {
    padding: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 10px;
}
.feature_list .feature_item {
    padding: 20px;
    margin: 0 0 10px 0;
    box-shadow: 0 4px 50px 0 #ddd;
    border-radius: 10px;
}

.feature_image button{
     margin: -50px 0 0 -50px;
}


/* Some Facts Area */
.some_facts .counter_area {
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-items: center;
}
.some_facts .counter_area .counter {
    border: 1px dashed #FF900E;
    width: 150px;
    height: 150px;
    text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* Sponsor area */
.sponsor_content {
    margin: 0 auto 50px auto;
    max-width: 500px;
    text-align: center;
}
.sponsors_logos {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
    align-items: center;
}

.sponsors_logos img {
    filter: grayscale(100%);

}

/* Footer Area */

.footer {
    background: rgba(255, 244, 231, 1);
    text-align: center;
    padding: 30px 0;
}
.footer p {
    padding: 0 20px;
}
/* Responsive @media screen for under 576px screen*/

@media screen and (max-width: 576px){
    /* Main area */
    .main_area {
        padding: 0 30px;
    }
    /* header area */
    .header_wrapper {
        padding: 0 30px;
    }
    .nav_links {
        flex-direction: column;
       
    }
    .navbar > .nav_links {
        display: none;
        position: absolute;
        right: 50px;
        top: 40px;
        background: #ffffff;
        box-shadow: 0px 4px 50px 0 #ddd;
       
    }
    .nav_links li {
        padding: 10px;
    }
    .nav_links li:hover {
        background: #ddd;
    }
    .dot {
        font-size: 1.5rem;
        padding: 5px;
        border-radius: 0px;
        }
   
    .navbar .dot{
        display: block;
    }
    .navbar:hover .nav_links {
        display: block;
    

    }
    
    .brand h2 {
        font-size: 1.5rem;
    }
    
    .hero_content h2  {
        font-size: 2rem;
        line-height: 1.8rem;
    }
    /* Team Area */
    .team_wrapper {
        grid-template-columns: repeat(1 ,1fr);
    }

    /* Feature Area */
    .feature {
        grid-template-columns: repeat(1 ,1fr);
        
    }
    .feature_image button {
        margin: 0;
        display: block;
        width: 100%;
    }

    /* Some facts / Counter Area */

    .some_facts .counter_area  {
        grid-template-columns: repeat(2 , 1fr);
        row-gap: 10px;

    }

    /* Sponsor area */
    .sponsors_logos {
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(3 ,1fr);
        justify-items: center ;
        
    }
   .sponsors_logos img:nth-child(5){
       grid-column: span 2;
       
       
   }





}